<div class="gallery">
	<h3>{{gallery.name}}</h3>
	<ul class="images">
		{% for image in gallery.images %}
			<li>
				<figure>
					{% if image.title %}
	                    <img title="{{image.title}}" src="{{ image.path }}" alt="">
						{% if image.description %}
    	                	<figcaption>{{image.title}}: {{image.description}}</figcaption>
						{% else %}
    	                	<figcaption>{{image.title}}</figcaption>
						{% endif %}
					{% else %}
						<img src="{{ image.path }}" alt="">
					{% endif %}
                </figure>
			</li>
		{% endfor %}
	</ul>
</div>